body,
html {
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "first" "second" "third" "fourth";
  font-family: "Inter";
}
#first-section {
  grid-area: "first";
  background-color: #3a69d2;
  color: white;
  text-align: center;
}
#second-section {
  grid-area: "second";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  box-sizing: border-box;
  padding-top: 40px;
}
#third-section {
  grid-area: "third";
  color: white;
  display: block;
  padding-bottom: 0%;
}
#fourth-section {
  grid-area: "fourth";
}
hr {
  background-color: #c3c6db;
  height: 1px;
  border: none;
}
div {
  background-color: #1f2937;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
#help-note {
  margin-top: 0%;
  font-style: normal;
  font-size: small;
  margin-top: 1%;
  font-weight: 400px;
}
#header {
  margin-top: 50px;
  margin-bottom: 0%;
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  font-weight: 800px;
}
button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #4a4e74;
  background-color: #d1d4f4;
  border-radius: 7px;
  border: 1px solid #d5d4d8;
  padding: 9px 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
}
.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;
  color: #d5d4d8;
}
.total {
  float: right;
}
.task {
  float: left;
}
#Tot-money {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 89%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#mail {
  display: flex;
  flex-direction: row;
  background: #3a69d2;
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
#added {
  font-weight: 700;
  font-size: 20px;
  padding-inline-start: 0px;
}
.sign {
  margin-right: 0px;
  color: #918e9b;
}
li {
  list-style-type: none;
  margin:0 0 10px 0;
  padding: 0;
}
.remove{
  border:none;
  background: none;
  text-decoration: underline;
}